@use './breakpoints.scss' as bp;
.container-about{
    width:100%;
    display: flex;
}
.myImage{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
}
.roman{
    flex:1;
    width:300px;
    height:400px;
     @include bp.respondTo(sm) {
    width:200px;
    height:300px;
  }
}
.aboutText{
    flex:1;
    height:100%;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}