@use './variables' as vars;
@use './breakpoints.scss' as bp;
html, body{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: vars.$mainFont-color;
    overflow-y: scroll;
    box-sizing: border-box;
}
body {
  background-color: vars.$primary-color;
  overflow: hidden;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
a{
  text-decoration: none;
  color: vars.$mainFont-color;
}
.deskTop {
  display: block;

  @include bp.respondTo(sm) {
    display: none;
  }
}

.mobile {
  display: none;

  @include bp.respondTo(sm) {
    display: block;
  }
}
.error{
  margin-top:5px;
  color: red;
}
.container{
  width:100%;
}
.required::before { content: " * "; color: red; }
.icons, .myIcons{
    height:20px;
    color:vars.$mainFont-color;
    background: transparent !important;
}
.myIcons{
  background: transparent !important;
}


