@import './_variables';
.fieldWrapper{
    margin:10px auto;
    width: 80%;
    padding:10px;
    border: 1px solid $mainFont-color;
}
.evaluationWrapper{
    width: 100%;
    height:50px;
    border-top: 1px solid $mainFont-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.postImage{
    width:250px;
    height:auto;
}
.link{
    width:50px;
    height:20px;
}
.submitIconWrapper{
    background: none;
    border:none;
}
.icons{
    height:20px;
    color:$mainFont-color;
}