@use './_variables' as vars;
.fieldWrapper{
    margin:10px auto;
    width: 80%;
    padding:10px;
    border: 1px solid vars.$mainFont-color;
}
.evaluationWrapper{
    width: 100%;
    height:50px;
    border-top: 1px solid vars.$mainFont-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.postImage{
    width:250px;
    height:auto;
}
.backBt {
    background-color: vars.$element-color;
    margin: 10px;
}
.link{
    width:50px;
    height:20px;
}
.submitIconWrapper{
    background: none;
    border:none;
}
