@use './variables' as vars;
.ressortHeadline{
    margin-top: 50px;
    text-align: center;
}
.createBtnWrapper{
    margin-left: 30px;
    margin-bottom: 50px;
}
.createBtn{
    width:200px;
    padding:10px;
    background: vars.$secondary-color;
    color: vars.$mainFont-color;
}
.fieldWrapper{
    margin:10px auto;
    width: 80%;
    padding:10px;
    border: 1px solid vars.$mainFont-color;
}
.link{
    width:100%;
    height:100%;
}
.postImage{
    width:250px;
    height:auto;
}
.evaluationWrapper{
    width: 100%;
    height:50px;
    border-top: 1px solid vars.$mainFont-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

