@use './variables' as vars;
.container-forum{
    width:100%;
}
.forumForm{
    display: flex;
    flex-direction: column;
}
.forumList{
    width:80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.forumItems a:hover{
    color:vars.$element-color;
}
.forumUsage{
    width:80%;
    margin: 100px auto;
    padding:20px;
    border:1px solid vars.$element-color;
}