@use './variables' as vars;
@use './breakpoints' as bp;
.container-home{
    width:100%;
    padding:20px;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
     @include bp.respondTo(s){
        padding: 10px;
    }
     @include bp.respondTo(sm){
        flex-direction: column;
    }
}
.greetImage{
    flex:1;
      @include bp.respondTo(sm){
        width:100%;
        display:flex;
        justify-content: center;
    }
}
.greeting{
    flex:1;
    padding-right:20px;
     @include bp.respondTo(s){
        padding-left:1px;
    }
}
.headline{
    font-size: 70px;
    @include bp.respondTo(slg){
        font-size: 60px;
    }
    @include bp.respondTo(xmd){
        font-size: 50px;
    }
    @include bp.respondTo(s){
        font-size: 40px;
    }
     @include bp.respondTo(xs){
        font-size: 30px;
        text-align: center;
    }
}
.greetAuthor{
     @include bp.respondTo(xs){
        font-size: 20px;
        text-align: center;
    }
}
.img{
    width:70%;
    height:auto;
    margin-left:20px;
      @include bp.respondTo(sm){
        width:50%;
        height:auto;
    }
      @include bp.respondTo(xs){
        width:80%;
        height:auto;
    }
}
.footer{
    width:100%;
    height:100px;
    background: vars.$secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
}
