@use './variables' as vars;
.naviWrapper{
    position:relative;
    width:80%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    padding-right:20px;
    align-items: center;
}
.hamburger{
    height:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px; // ensures spacing between lines cursor: pointer;
}
.line{
    height:2px;
}
.strich{
    width:30px;
    height:2px;
    margin: 4px 0;
    background: vars.$mainFont-color;
}
.mobileMenueList { 
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.3s ease; 
}
.mobileMenueList.open{
    max-height:600px;
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 999;
    top: 100%; 
    right: 0; 
    width: 100px;
    background:vars.$mainFont-color;
    }
.mobileMenueItems{
    height:40px;
    border-bottom: 1px solid vars.$primary-color;
    display:flex;
    align-items: center;
    padding-left:5px;
}

.mobileMenueItems a{
    color:vars.$primary-color;
}