@use './breakpoints.scss' as bp;
.iconWrapper{
    height:100%;
    width:200px;
    display:flex;
    align-items:center;
    justify-content: space-around;
    @include bp.respondTo(sm){
        width:80px;
    }
}
.icons{
    height:20px;
}